<table cellpadding="0" cellspacing="0" border="0" class="display dataTables_wrapper" id="accounts" role="grid" data-source="<%= accounts_path(format: :json) %>">
	<thead>
		<tr>
			<th>Customer Details</th>
			<th>Amount</th>
			<th>Balance Amount</th>
			<th>Date</th>
			<th>Utility</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>