<table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered dataTables_wrapper" id="credit-debit-tbl" role="grid">
	<thead>
		<tr>
			<th>Customer Details</th>
			<th>Balance Amount</th>
		</tr>
	</thead>
	<tbody>
		<% @customers.each do |customer| %>
			<tr>
				<td><%= customer.name %></td>
				<td><%= customer.old_balance.to_f %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= link_to 'Add Amount', new_credit_debit_path, class: 'btn btn-default' %>
<script type="text/javascript">
	$('#credit-debit-tbl').dataTable({
		paginationType: "full_numbers"
	});
</script>