<div class="row">
  <%= render partial: 'home/shared/old_balance_wrapper' %>
</div>
<!-- /.row -->
<div class="row">
  <%= render partial: 'home/shared/sales_chart' %>
  <!-- /.col-lg-8 -->
  <div class="col-lg-4">
    <!--render partial: 'home/shared/notification_panel' -->
    <%= render partial: 'home/shared/donut_chart' %>
    <!-- /.panel-footer -->
  </div>
  <!-- /.panel .chat-panel -->
</div>