<div class="panel panel-default">
  <div class="panel-heading">
    Farm Distance (km)
  </div>
  <div class="panel-body">
    <div id="morris-donut-chart"></div>
  </div>
</div>

<script type="text/javascript">
	var javascript_data = <%= raw @rails_farm_data.to_json %>;
  Morris.Donut({
        element: 'morris-donut-chart',
        data: javascript_data,
        resize: true
    });
</script>