<div class="col-lg-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      Daily Sales
    </div>
    <div class="panel-body">
      <div id="morris-area-chart"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var script_data = <%= raw @rails_sales_data.to_json %>;
  new Morris.Area({
      element: 'morris-area-chart',
      data: script_data,
      xkey: 'date',
      ykeys: ['amount', 'balance', 'weight_loss'],
      labels: ['Closing Amount', 'Balance Amount', 'Weight Loss'],
      pointSize: 2,
      hideHover: 'auto',
      resize: true
  });
</script>
